@import "reset";
@import "variable";
@import "component";

body {
  font-family: "Spartan", sans-serif;
  background-color: $main-bg-color;
  display: flex;
  justify-content: center;
}

.calculator-main {
  margin-top: 10%;
  width: 35rem;
}

.calculator-header {
  margin-bottom: 16px;
  h1 {
    color: white;
    font-weight: 700;
  }
}

.calculator-screen {
  background-color: $screen-bg-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  span {
    display: flex;
    align-self: center;
    font-weight: 700;
    font-size: 48px;
    color: white;
    margin: 10px;
  }
}
